@font-face {
    font-family: worksans;
    src: url(/vendors/fonts/WorkSans-VariableFont_wght.ttf);
}

body {
    font-family: worksans;
    text-rendering: optimizeLegibility;
    font-size: 10px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right top, #ed765e, #fea858);
    height: 100vh;

}

header h1 {
    float: left;
    padding-left: 1rem;
    margin: auto;
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
}

nav {
    float: right;
    padding-right: 1rem;
    margin: auto;

}

nav h3 {
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
}

header {
    width: 95%;
    height: 10%;
}


/* -----Main body */
main {
    width: 75%;
    height: 85%;
    justify-content: space-between;
    margin: auto;
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(200px);
    filter: blur();
    display: flex;
}

/* ---Positioning Elements----------- */
.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    width: 40%;
}

.control {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    align-items: center;
}

.dice {
    height: 8rem;
    width: 8rem;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);

}

/* --------Styling Buttons------- */

.btn {
    color: #444;
    background: none;
    border: none;
    font-family: inherit;
    font-size: 1.5rem;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 200;
    transition: all 0.2s ease-in-out;
    padding: .5rem 1rem;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);

    border-radius: 50rem;
    box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(.5rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

/* Styling players section */

.name {
    font-size: 2.5rem;
    font-weight: 400;

}

.score {
    font-size: 3.5rem;
    font-weight: 400;
    color: #c7365f;
    transform: translateY(-150%);

}

.player div {
    width: 10rem;
    height: 6rem;
    background: #ed765e;
    color: white;
    font-size: 1.3rem;
    border-radius: 0.5rem;
    text-align: center;
}

/* -----Styling the active player */
.player-active {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 0.5rem;
}

.player-active .name {
    font-weight: 700;
}

.player--active .score {
    font-weight: 400;
}

.player-active .current {
    opacity: 1;
}

.hidden {
    opacity: 0;
}

/* Styling the winnwer  */

.player--winner {
    background-color: #2f2f2f;
    border-radius: 0.5rem;
}

.player--winner .name {
    font-weight: 700;
    color: #c7365f;
}